@font-face {
	font-family: Muller;
	font-weight: 700;
	font-style: normal;
	src:
		url('../fonts/Muller-Trial-Bold.woff2') format('woff2'),
		url('../fonts/Muller-Trial-Bold.woff') format('woff'),
		url('../fonts/Muller-Trial-Bold.ttf') format('truetype');
}

@font-face {
	font-family: Muller;
	font-weight: 400;
	font-style: normal;
	src:
		url('../fonts/Muller-Trial-Regular.woff2') format('woff2'),
		url('../fonts/Muller-Trial-Regular.woff') format('woff'),
		url('../fonts/Muller-Trial-Regular.ttf') format('truetype');
}
